{% for commento in comments %}
    <table>
        <tr>
            <td>
                <strong>Titolo</strong>: {{ commento.title }}<br />
                <strong>Commento</strong>: {{ commento.comment }}<br />
            </td>
            <td>
                <a href="{{ path('sensorario_comment_delete', {'id': commento.id}) }}">cancella</a>
            </td>
        </tr>
    </table>
{% endfor %}